!!!
%html
  = haml :headtag

  %body
    #header-wrapper
      = haml :header
      #banner.container
        .title
          %h2
            別海ホタテバーガーを、東京で。
          %span.byline
            忘れられない思い出の料理を、あなたの側で。
        %ul.actions
          %li
            = haml :button
    #wrapper
      #three-column.container
        .title
          %img{src: "images/logo.png"}
          %h2
            Tongue-ya (たんや) とは
          %span.byline
            (一言で説明できる内容)(一言で説明できる内容)(一言で説明できる内容)
        - d = "さらに詳しく"
        .boxA
          %p
            (特徴その1)(特徴その1)(特徴その1)(特徴その1)(特徴その1)(特徴その1)
          %a.button.button-alt{href: '#'}
            = d
        .boxB
          %p
            (特徴その2)(特徴その2)(特徴その2)(特徴その2)(特徴その2)(特徴その2)
          %a.button.button-alt{href: '#'}
            = d
        .boxC
          %p
            (特徴その3)(特徴その3)(特徴その3)(特徴その3)(特徴その3)(特徴その3)
          %a.button.button-alt{href: '#'}
            = d
    #welcome
      .container
        .title
          %h2
            あなたの思い出の味は何ですか?
          %span.byline
            私たちTongue-yaは、あなたの思い出を応援します。
        (さらに詳しい説明)(さらに詳しい説明)(さらに詳しい説明)(さらに詳しい説明)(さらに詳しい説明)(さらに詳しい説明)(さらに詳しい説明)(さらに詳しい説明)(さらに詳しい説明)(さらに詳しい説明)(さらに詳しい説明)(さらに詳しい説明)(さらに詳しい説明)
        %ul.actions
          %li
            = haml :button
    = haml :footer
