!!!
%html
  = haml :headtag

  %body
    #header-wrapper
      = haml :header
      #banner.container
        .title
          %h2
            別海ホタテバーガーを、東京で。
          %span.byline
            忘れられない思い出の料理を、あなたの側で。
        %ul.actions
          %li
            = haml :button
    #wrapper
      #three-column.container
        .title
          %img{src: "images/logo.png"}
          %h2
            Tongue-ya (たんや) とは
          %span.byline
            思い出の料理を再現することに特化した、移動店舗のクラウドファンディングです。
        - d = "さらに詳しく"
        .boxA
          %img{src: "/images/sol_ico1.png"}
          %p
            Webで思い出の料理をリクエストできます。
          %a.button.button-alt{href: '#'}
            = d
        .boxB
          %img{src: "/images/sol_ico2.png"}
          %p
            あなたの希望の場所に、キッチンカーで料理を届けます。
          %a.button.button-alt{href: '#'}
            = d
        .boxC
          %img{src: "/images/sol_ico3.png"}
          %p
            同じ思い出があるユーザーに、開店資金を支援することができます。
          %a.button.button-alt{href: '#'}
            = d
    #welcome
      .container
        .title
          %h2
            食の壁を無くす。
          %span.byline
            私たちTongue-yaは、あなたの思い出を応援します。
        %ul.actions
          %li
            = haml :button
    = haml :footer
